* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    color: #242424;
}

input {
    width: 100%;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
